ul {
  margin: 0;
  padding: 0;
}

ul li{
  list-style-type: none;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

header a {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #ffd921;
}

header a.active {
  color: #ffd921;
}

.book-item{
  width: 25%;
  display: inline-block;
  margin-right: 2.5%;
  margin-bottom: 25px;
}

.latest-book-item{
  width: 30%;
  text-align: center;
  display: inline-block;
  margin-right: 2.5%;
  margin-bottom: 25px;
}

.latest-book-item img{
  max-height: 300px;
}

.book-item img {
  max-height: 300px;
}

.book-info{
  margin-top: 25px;
}

.filter-input{
  margin-top: 15px;
}

.cart-info{
  margin-top: 25px;
  text-align: center;
}

.total{
  margin-bottom: 15px;
}

.latest-book-title{
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 768px){
  .book-item{
    width: 48%;
    margin: 20px 1%;
  }

  .latest-book-item{
    width: 48%;
    margin: 20px 1%;
  }
}