.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

header a {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #ffd921;
}

header a.active {
  color: #ffd921;
}

.ui.medium.book-img{
  height: 300px;
}

.book-info{
  margin-top: 25px;
}

.filter-input{
  margin-top: 15px;
}

.cart-info{
  margin-top: 25px;
  text-align: center;
}

.total{
  margin-bottom: 15px;
}

.latest-book-title{
  text-align: center;
  font-weight: bold;
}

.ui.medium.latest-book-img{
  height: 400px;
}

@media only screen and (max-width: 768px){
  .ui.medium.latest-book-img{
    height: 300px;
  }
}